.page-footer__hashtag {
  .font-title();
}

.socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 156px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.socials-item__link {
  display: block;
  width: 48px;
  height: 48px;
  background-color: #81B3D2;
}

.socials-vk {
  background-image: url('../img/icon-vk.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.socials-telegram {
  background-image: url('../img/icon-telegram.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.socials-youtube {
  background-image: url('../img/icon-youtube.svg');
  background-repeat: no-repeat;
  background-position: center;
}
