.intro {
  position: relative;
  min-height: 158px;
  background-color: #81B3D2;
  background-image: url("../img/intro-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media(min-resolution: 2dppx) {
    background-image: url("../img/intro-img@2x.png");
  }
}

.intro__caption-img {
  display: block;
  position: absolute;
  left: 50%;
  top: 52px;
  transform: translateX(-50%);
}

@media(min-width: @tablet) {
  .intro {
    min-height: 290px;
    background-image: url("../img/intro-img-tablet.png");
    background-position: left 0px top -56px;
    @media(min-resolution: 2dppx) {
      background-image: url("../img/intro-img-tablet@2x.png");
    }
  }
  .intro__caption-img {
    top: 95px;
  }
}

@media(min-width: @desktop) {
  .intro {
    @media(min-resolution: 2dppx) {
      background-image: url("../img/intro-img-desktop@2x.png");
    }
    min-height: 300px;
  }
  .intro__caption-img {
    top: 102px;
  }
}
