.nav {
  background-color: #81B3D2;
}
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__link {
  .font-title();
  text-decoration: none;
  color: #ffffff;
}
