.nav {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: @bg-color-nav;
}

.nav--hidden {
  display: none;
}

.nav--show {
  display: block;
}

.nav--nojs {
  display: block;
}

.nav__button {
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: transparent;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center center;
  right: 20px;
  top: 17px;
  border: none;
  display: block;
}

.nav__button--hidden {
  display: none;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__item {
  padding-top: 17px;
  padding-bottom: 12px;
}

.nav__link {
  .font-nav();
  text-decoration: none;
  color: @color-nav-link-mobile;
}

.nav {
  z-index: 2;
}

@media(min-width: @tablet) {
  .nav {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    z-index: 1;
  }
  .nav__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .nav__list-left {
    margin-right: auto;
  }
  .nav__list-right {
    width: 315px;
  }
  .nav__item {
    text-align: center;
    min-width: 153px;
  }
  .nav__link {
    .font-nav-menu();
  }
}

@media(min-width: @desktop) {
  .nav__list-left {
    width: 480px;
  }
  .nav__list-right {
    width: 480px;
  }
  .nav__item {
    text-align: center;
    min-width: 240px;
  }
}