.photo-video {
  position: relative;
}

.photo-video::before {
  content: "";
  width: 320px;
  height: 57px;
  background-image: url("../../img/intro-triangle.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: -73px;
  transform: translateX(-50%);
}

.photo-video__text {
  margin: 0;
}

.photo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo-item__img {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media(min-width: @tablet) {
  .photo-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 324px);
    grid-template-rows: auto;
    justify-content: center;
  }
  .photo-item:first-child {
    grid-column: 1/-1;
  }
}
