.promo {
  position: relative;
  background-color: #81B3D3;
  background-image: url("../img/promo-photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding-top: 90px;
  padding-bottom: 85px;
  @media(min-resolution: 2dppx) {
    background-image: url("../img/promo-photo@2x.png");
    background-size: 320px auto;
  }
}

.promo__caption-img {
  display: block;
  margin: 0 auto;
}

@media(min-width: @tablet) {
  .promo {
    background-image: url("../img/promo-photo-tablet.png");
    padding-top: 77px;
    padding-bottom: 91px;
    @media(min-resolution: 2dppx) {
      background-image: url("../img/promo-photo-tablet@2x.png");
      background-size: 768px auto;
    }
  }
}

@media(min-width: @desktop) {
  .promo {
    background-image: url("../img/promo-photo-desktop.png");
    padding-top: 77px;
    padding-bottom: 91px;
    @media(min-resolution: 2dppx) {
      background-image: url("../img/promo-photo-desktop@2x.png");
      background-size: cover;
    }
  }
}