.reasons__content {
  padding-top: 32px;
  padding-right: 12px;
  padding-bottom: 32px;
  padding-left: 12px;
}

.reasons__content-slogan {
  margin: 0;
  padding-bottom: 35px;
  .font-title();
}

.reasons__content-text {
  margin: 0;
}

.reasons__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reasons__item-content {
  padding-top: 37px;
  padding-bottom: 37px;
}

.reasons__item-content--blue {
  background-color: #81B3D2;
  color: #ffffff;
}

.reasons__item-content--grey {
  background-color: #EEEEEE;
}

.reasons__item-content--border {
  position: relative;
  border-top: 1px solid #D6D6D6;
}

.reasons__item-content--border::after {
  content: "";
  width: @mobile-padding-left;
  height: 5px;
  background-color: #EEEEEE;
  position: absolute;
  left: 0;
  top: -3px;
}

.reasons__item-content--border::before {
  content: "";
  width: @mobile-padding-right;
  height: 5px;
  background-color: #EEEEEE;
  position: absolute;
  right: 0;
  top: -3px;
}

.reasons__item-title {
  margin: 0;
  padding-bottom: 11px;
  .font-title();
}

.reasons__item-title--light {
  color: #ffffff;
}

.reasons__item-number {
  margin: 0;
  padding-bottom: 17px;
}

.reasons__item-text {
  margin: 0;
}

.reasons__item-photo {
  min-height: 260px;
  background-color: #81B3D2;
}

.reason-1 {
  background-image: url('../img/reason-1-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.reason-2 {
  background-image: url('../img/reason-2-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

