.recommendations-list {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 46px;
  display: grid;
  row-gap: 25px;
  grid-template-columns: repeat(auto-fill, 284px);
  justify-content: center;
  list-style: none;
}

.recommendations-item {
  padding-top: 8px;
  padding-right: 2px;
  padding-left: 47px;
}

.recommendations-item__content {
  text-align: left;
}

.recommendations-item-house {
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

.recommendations-item-burger {
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

.recommendations-item-gift {
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

.recommendations-item__title {
  margin: 0;
  padding-bottom: 16px;
  .font-title();
}

.recommendations-item__text {
  margin: 0;
}

@media(min-width: @tablet) {
  .recommendations-list {
    padding-top: 60px;
    padding-bottom: 60px;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    column-gap: 66px;
  }
  .recommendations-item {
    padding-top: 98px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .recommendations-item__content {
    text-align: center;
  }
  .recommendations-item-house {
    background-image: url("../img/icon-house-tablet.svg");
    background-position: center top;
  }
  .recommendations-item-burger {
    background-image: url("../img/icon-burger-tablet.svg");
    background-position: center top;
  }
  .recommendations-item-gift {
    background-image: url("../img/icon-gift-tablet.svg");
    background-position: center top;
  }
  .recommendations-item__title {
    padding-bottom: 30px;
    .font-title-tablet();
  }
}

@media(min-width: @desktop) {
  .recommendations-list {
    padding-top: 60px;
    padding-bottom: 60px;
    grid-template-columns: repeat(3, 300px);
    column-gap: 100px;
  }
}