.recommendations-list {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 46px;
  display: grid;
  row-gap: 25px;
  list-style: none;
}

.recommendations-item {
  padding-top: 8px;
  padding-right: 2px;
  padding-left: 47px;
}

.recommendations-item__content {
  text-align: left;
}

.recommendations-item__title {
  margin: 0;
  padding-bottom: 16px;
  .font-title();
}

.recommendations-item__text {
  margin: 0;
}
