.search {
  padding-top: 38px;
  padding-bottom: 49px;
}

.search__content-title {
  margin: 0;
  padding-bottom: 32px;
  font-family: @font-family, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.search__content-text {
  margin: 0;
  padding-bottom: 32px;
}

.search__link {
  .button-search();
}

@media(min-width: @tablet) {
  .search {
    padding-top: 61px;
    padding-bottom: 58px;
  }
  .search__content {
    width: 435px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
  }
  .search__content-title {
    margin: 0;
    padding-bottom: 36px;
    font-size: 30px;
  }
  .search__content-text {
    width: 397px;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .search__link {
    width: 458px;
    .button-search-tablet();
  }
}