//Миксины для шрифтов
.font-text() {
  font-family: @font-family, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @font-text-color;
}

.font-title() {
  font-family: @font-family, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.font-title-tablet() {
  font-family: @font-family, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.font-nav-tablet() {
  font-family: @font-family, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

//Миксины для кнопок
.button-search() {
  display: block;
  padding: 16px 49px;
  background-color: @bg-color-button-search;
  font-family: @font-family, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: @color-button-search;
}

.button-search-tablet() {
  width: 426px;
  margin: 0 auto;
  padding: 16px 16px;
}



