//Переменные для шрифтов
@font-family: 'PT Sans';
@font-text-color: #333333;//Цвет основного текста

//Переменные для отступов
@mobile-padding-left: 18px;
@mobile-padding-right: 18px;
@tablet-padding-left: 33px;
@tablet-padding-right: 33px;

//Переменные для цветов
@bg-color-nav: #81B3D2;
@bg-color-reasons-first: #81B3D2;
@bg-color-reasons-second: #EEEEEE;
@bg-color-button-search: #81B3D2;
@color-button-search: #ffffff;

//Переменные для разных экранов
@mobile: 320px;
@tablet: 768px;
@desktop: 1280px;