//Переменные для шрифтов
@font-family: 'PT Sans';

//Переменные для цветов
@bg-color-html: #E7E5E5;
@font-text-color: #333333;//Цвет основного текста
@bg-color-nav: #81B3D2;
@color-nav-link-mobile: #ffffff;
@color-nav-link-tablet: #000000;
@bg-color-reasons-first: #81B3D2;
@bg-color-reasons-second: #EEEEEE;
@color-reasons-title-light: #ffffff;
@color-reasons-text: #ffffff;
@bg-color-button: #81B3D2;
@color-button: #ffffff;
@bg-color-socials: #81B3D2;
@color-border: #E5E5E5;
@color-border-reasons: #D6D6D6;
@bg-color-input: #F2F2F2;

//Переменные для разных экранов
@mobile: 320px;
@tablet: 768px;
@desktop: 1200px;
